:root{
    --cor-erro: #ff4747;
    --cor-sucesso: #94ff86;

    
}
#login{
    background-image: url(assets/images/Fundo_tela.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#preto{
    background-color: black;
    padding: 50% 45% 0 0;
    position: relative;

}
#colorir{
    background-color: rgba(0, 0, 0, 0.753) !important;
    color: white !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:0px !important;
}

.dividido{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
}
#logo{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 600px;
    height: 700px;
}
.toggle{
    text-align: end;
    margin-top: 10px;
    cursor: pointer;
    color: var(--cor-texto);

}
#toggle:hover {
    color: rgb(70, 70, 226);
}
.erro{
    color: var(--cor-erro);
    font-size: 15px;
    text-align: center;
}